.card {
    border: none;
    border-radius: 8px;
}

.verse_end_mark {
    margin-right: 16px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333647;
    font-size: 28px;
    border: 1px solid #333647;
    padding-bottom: 5px;
    font-weight: 700;
}

.verse {
    direction: rtl;
    font-size: 36px;
    text-align: justify;
    // text-align-last: justify;
    font-family: "f-indopak";
    line-height: 1.7;
}
.back_icon {
    color: #00acc2;
}

.section_translation,
.section_reading {
    min-height: calc(100vh - 258px);
}
.selectedAyat {
    background: #cdecf1;
}

.search .form-control {
    padding-left: 2.8rem;
    // border: none;
    line-height: 2.375rem;
    height: 45px;
}

.search .search-icon {
    position: absolute;
    z-index: 2;
    display: block;
    top: 11px;
    left: 15px;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
}

.form-control:focus {
    box-shadow: 0 0 0 1px #00acc2;
  }