.card {
  border: none;
  border-radius: 8px;
}

.card_number {
  margin-right: 16px;
  background-color: #e1e1e4;
  border-radius: 100%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333647;
  font-size: 14px;
}
.chp_name_arabic {
  color: #00acc2;
  font-size: 30px;
  font-family: 'f-indopak';
}
.chp_name_english {
  // font-size: 18px;
  color: #333647;
  font-weight: 500;
  font-family: 'f-medium';
}
.name_meaning {
  color: darkgrey;
  font-size: 15px;
}
.chapter_card {
  background: #fbfbfb;
  cursor: pointer;
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: 0 0 8px rgba(33, 33, 33, 0.2);
  }
}
.section_duas {
  height: calc(100vh - 139px);
}
.pending_icon {
  color: #00acc2;
  font-size: 120px;
}

.font_chp_name{
  font-family: "font_chp_name";
}